//* style specific variables *//
//* style: green *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #b85812; // orange
$theme-color-2: #e0d6c8; // off white orange
$theme-color-3: #7ba329; // light green
$theme-color-4: #516e16; // dark green

// form input area focus color
$theme-color-5: rgba(123,163,41,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-green.jpg";
$header-texture: "header-green.jpg";