//* style specific variables *//
//* style: han blue *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #6e72a1; // purple
$theme-color-2: #d1d7e2; // light pastel blue
$theme-color-3: #7092ca; // baby blue
$theme-color-4: #2951a0; // dark blue

// form input area focus color
$theme-color-5: rgba(112,146,202,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-han_blue.jpg";
$header-texture: "header-han_blue.jpg";
$header-color: #4c72b1;