//* style specific variables *//
//* style: burgundy *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #9a8222; // gold
$theme-color-2: #f2f0f0; // off white
$theme-color-3: #a67579; // light burgundy
$theme-color-4: #4b2c2d; // dark burgundy

// form input area focus color
$theme-color-5: rgba(166,117,121,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-burgundy.jpg";
$header-texture: "header-burgundy.jpg";
$header-color: #6c3f42;