//* style specific variables *//
//* style: viridian *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #a69430; // yellow gold
$theme-color-2: #d9dbd5; // slate
$theme-color-3: #9ebebc; // viridian
$theme-color-4: #566d60; // dark viridian

// form input area focus color
$theme-color-5: rgba(158,190,188,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-viridian.jpg";
$header-texture: "header-viridian.jpg";
$header-color: #789a8a;