//* style specific variables *//
//* style: cerulean *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #c4002c; // red
$theme-color-2: #e6e6e6; // grey
$theme-color-3: #1a99d4; // light blue
$theme-color-4: #015982; // dark blue

// form input area focus color
$theme-color-5: rgba(26,153,212,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-cerulean.jpg";
$header-texture: "header-cerulean.jpg";
$header-color: #00699b;