//* style specific variables *//
//* style: crimson *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #3585b1; // blue
$theme-color-2: #d0d0d0; // grey
$theme-color-3: #c90619; // bright red
$theme-color-4: #8c0d19; // dark red

// form input area focus color
$theme-color-5: rgba(158,190,188,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-crimson.jpg";
$header-texture: "header-crimson.jpg";
$header-color: #991522;