//* style specific variables *//
//* style: hot pink *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #b56474; // desaturated red
$theme-color-2: #ffe4f9; // off white pink
$theme-color-3: #e9a5d9; // hot pink
$theme-color-4: #9e3b7b; // dark pink

// form input area focus color
$theme-color-5: rgba(233,165,217,.6);

// general success and error colors
$red: red;
$green: green;

// background images
$background-texture: "body-hot_pink.jpg";
$header-texture: "header-hot_pink.jpg";
$header-color: #e05ca7;