//* style specific variables *//
//* style: vermilion *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #5bbcd7; // light blue
$theme-color-2: #e8e2e1; // light grey
$theme-color-3: #fb8d6b; // light vermilion
$theme-color-4: #a13b1c; // dark vermilion

// form input area focus color
$theme-color-5: rgba(226,92,51,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-vermilion.jpg";
$header-texture: "header-vermilion.jpg";
$header-color: #e25c33;