//* style specific variables *//
//* style: fallow *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #67aeac; // turquoise
$theme-color-2: #e9e3cf; // very light brown
$theme-color-3: #b59768; // light brown
$theme-color-4: #7c6847; // dark brown

// form input area focus color
$theme-color-5: rgba(26,153,212,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-fallow.jpg";
$header-texture: "header-fallow.jpg";
$header-color: #8e7f68;