//* style specific variables *//
//* style: fulvous *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #be984f; // light brown
$theme-color-2: #d7d7d7; // grey
$theme-color-3: #dc3d24; // fulvous
$theme-color-4: #575757; // dark grey

// form input area focus color
$theme-color-5: rgba(220,61,36,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-fulvous.jpg";
$header-texture: "header-fulvous.jpg";
$header-color: #192123;