//* style specific variables *//
//* style: charcoal *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

$theme-color-1: #4180aa; // blue
$theme-color-2: #d0d0d0; // grey
$theme-color-3: #899ba7; // light charcoal
$theme-color-4: #51616c; // darker charcoal

// form input area focus color
$theme-color-5: rgba(137,155,167,.6);

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "body-charcoal.jpg";
$header-texture: "header-charcoal.jpg";
$header-color: #34424b;