{% if site.is_homepage? %}
<nav class="navbar navbar-custom navbar-static-top" role="navigation">
{% else %}
<nav class="navbar navbar-subpages navbar-static-top" role="navigation">
{% endif %}
  <div class="container navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span></span>
      </button>
        <a class="navbar-brand" href="{{ site.full_url }}"><img alt="{{ site.long_name }}" class="img-responsive" src="http://d3n8a8pro7vhmx.cloudfront.net/fraserriverkeeper/sites/1/meta_images/original/frk_logo_white.png" alt="Fraser Riverkeeper logo"></a>
    </div>
    <span class="navbar-title hidden-xs">Ensuring swimmable, drinkable, fishable water in BC.</span>
    <div id="menu-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        {% for child in site.root_nav_pages %}
        {% if child.leaf? or child.nav_children.size == 0 %}
        <li {% if child.is_or_is_ancestor_of_current_page? %}class="active"{% endif %}>
          <a href="{{ child.url }}">{{ child.name }}</a>
        </li>
        {% else %}
        <li class="{% if child.is_or_is_ancestor_of_current_page? %}active{% endif %} dropdown">
          <a href="{{ child.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ child.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ child.url }}">{{ child.name }}</a></li>
            {% for child2 in child.nav_children %}
            <li><a href="{{ child2.url }}">{{ child2.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        <!-- FRK: Custom hard-coded login button dropdown -->
        <li class="dropdown">
          <a href="{{ site.full_url }}login" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!-- If logged in, show logout button in dropdown -->
            {%if request.logged_in? %}
            <li><a href="{{ site.full_url }}logout"><i class="glyphicon glyphicon-exit"></i>Sign Out </a></li>
            {% else %}
            <!-- Otherwise, show login buttons in dropdown -->
            <li><a href="http://fraserriverkeeper.nationbuilder.com/users/facebook/connect?page_id=1&scope=public_profile%2Cemail"><i class="icon-facebook-squared"></i>Sign in with Facebook</a></li>
            <li><a href="http://www.fraserriverkeeper.ca/users/twitter/connect?page_id=1"><i class="icon-twitter-squared"></i>Sign in with Twitter</a></li>
            <li><a href="{{ site.full_url }}login"><i class="icon-user"></i>Sign in with Email</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
