<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Bootstrap -->
    <link href="theme.scss" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:800,600,400" rel="stylesheet" type="text/css">

    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">

    {% include "nav" %}

    {% if site.has_header_image? and page.features_count == 0 %}
    <div class="container header-image-container">
     <img src="{{ site.header_image_url_1026 }}" class="header-image img-responsive" border="0" />
    </div>
    {% endif %}

    {% if page.features_count > 0 %}
      <div class="container">
       {% include "features" %}
      </div>
    {% endif %}

    <div class="main-container" id="middle">
      {% if site.is_homepage? %}
        {% include "carousel" %}
      {% endif %}

      <div class="main container clearfix {% if site.has_background_image? %}well well-lg{% endif %}">

        {% if request.is_sidebar? %}
        {% include "columns_2" %}
        {% else %}
        {% include "columns_1" %}
        {% endif %}

      </div>

      {% if site.is_homepage? %}
        {% include "home-single-blog" %}
      {% endif %}

      <!-- .main -->
    </div>
    <!-- .main-container -->

    {% include footer %}

    {% if site.has_background_image? %}
      <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
      <script type="text/javascript">
        jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
      </script>
      <![endif]-->
      <style>
        body {
          background: url('{{ site.background_image_url }}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    {% endif %}

    <script src="bootstrap.js"></script>
    <script>
      $(function(){
         $(".navbar-toggle").on("click", function() {
          this.classList.toggle( "active" );
          if($(".navbar-toggle").hasClass('active')){
            $('.navbar-header').css('background-color','#37677F');
          }else{
            $('.navbar-header').css('background-color','transparent');
          }
         });
      })

    </script>

  </body>
</html>
