<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Bootstrap -->
    <link href="theme.scss" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:800,600,400" rel="stylesheet" type="text/css">

    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">

    {% include "nav" %}

    {% if site.has_header_image? and page.features_count == 0 %}
    <div class="container header-image-container">
     <img src="{{ site.header_image_url_1026 }}" class="header-image img-responsive" border="0" />
    </div>
    {% endif %}

    {% if page.features_count > 0 %}
      <div class="container">
       {% include "features" %}
      </div>
    {% endif %}

    <div class="main-container" id="middle">
      {% if site.is_homepage? %}
        {% include "carousel" %}
      {% endif %}

      <div class="main container clearfix {% if site.has_background_image? %}well well-lg{% endif %}">

        {% if request.is_sidebar? %}
        {% include "columns_2" %}
        {% else %}
        {% include "columns_1" %}
        {% endif %}

      </div>
      <!-- .main -->
    </div>
    <!-- .main-container -->
    <footer>
      <div class="social-media">
        <div class="container">
          <a href="https://fraserriverkeeper.nationbuilder.com/donation">
            <span class="donate-button">Donate Now!</span>
          </a>
          <a href="https://twitter.com/FraserRivKeeper" target="_blank">
            <img src="https://d3n8a8pro7vhmx.cloudfront.net/fraserriverkeeper/pages/108/attachments/original/1437935380/SocialMedia_TW.png?1437935380" alt="twitter"/>
          </a>
          <a href="https://instagram.com/fraserrivkeeper/" target="_blank">
            <img src="https://d3n8a8pro7vhmx.cloudfront.net/fraserriverkeeper/pages/108/attachments/original/1437935379/SocialMedia_IG.png?1437935379" alt="instagram" />
          </a>
          <a href="https://www.facebook.com/pages/Fraser-Riverkeeper/110703155608198?ref=hl" target="_blank">
            <img src="https://d3n8a8pro7vhmx.cloudfront.net/fraserriverkeeper/pages/108/attachments/original/1437935377/SocialMedia_FB.png?1437935377" alt="facebook" />
          </a>
        </div>
      </div>

      <div class="footer-container">
        <div class="container">
          <div class"row">
            <div class="col-sm-2 col_one hidden-xs">
              <a href="/">Home</a><br/>
              <a href="/blog">Blog</a><br/>
              <a href="/calendar">Events</a>
            </div>
            <div class="col-sm-2 hidden-xs">
              <span class="footer-item-header">Take Action</span>
              <ul>
                <li>
                  <a href="/keep_in_touch">Keep in Touch</a>
                </li>
                <li>
                  <a href="/volunteer">Volunteer</a>
                </li>
                <li>
                  <a href="/swim_guide">Swim Guide</a>
                </li>
                <li>
                  <a href="/send_a_salmon_recipe">Send Salmon Recipes</a>
                </li>
                <li>
                  <a href="/whats_your_water_story">What's your Watermark?</a>
                </li>
                <li>
                  <a href="/report_pollution">Report Pollution</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-2 hidden-xs">
              <span class="footer-item-header">Issues</span>
              <ul>
                <li>
                  <a href="/metro_vancouver_water_quality">Vancouver Water Quality</a>
                </li>
                <li>
                  <a href="/net_pen_salmon_farming">Salmon Farming</a>
                </li>
                <li>
                  <a href="/illegal_dumping">Illegal Dumping</a>
                </li>
                <li>
                  <a href="/gravel_mining">Gravel Mining</a>
                </li>
                <li>
                  <a href="/coal_transport">Coal Transport</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-2 hidden-xs">
              <span class="footer-item-header">About</span>
              <ul>
                <li>
                  <a href="/about">About Us</a>
                </li>
                <li>
                  <a href="/meet_the_team">Meet the Team</a>
                </li>
                <li>
                  <a href="contact">Contact</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-1 hidden-xs"></div>
            <div class="col-xs-12 col-sm-3 logo-address">
              <img src="http://d3n8a8pro7vhmx.cloudfront.net/fraserriverkeeper/sites/1/meta_images/original/frk_logo_white.png?1402956590" />
              <div class='address'>
                <p>
                  #90-425 Carall St<br/>
                  Vancouver, BC V6B 6E3, Canada<br/>
                  (604)-674-7444
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container login-panel">
          <div class="row">
            <div class="container footer-login {% if site.has_background_image? %}well well-lg{% endif %}">

              {{ content_for_footer }}

              {% if site.footer_content.size > 0 %}
              <div class="footer-text">{{ site.footer_content }}</div>
              <hr/>
              {% endif %}
            </div>

              <div class="row">
                <div class="footer-items col-xs-12 col-md-6 footer-left">
                  {% if request.logged_in? %}
                    Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
                    {% if site.show_public_profiles? %}
                      <a href="{{ request.current_signup.profile_url }}">public profile</a>,
                    {% endif %}
                    <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
                    <a href="{{ request.current_signup.logout_url }}">sign out</a>.
                  {% else %}
                    Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                        href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
                  {% endif %}
                </div>
                <div class="footer-items col-xs-12 col-md-6 footer-right text-right">
                  <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                       You can style it or move it in different ways, but please leave it in the footer. -->
                  Theme proudly built at <a href="http://codeitforward.ca">CodeItForward</a> on <a href="http://nationbuilder.com/">NationBuilder</a>.
                </div>
              <!-- </div>-->
            <!-- </div>-->
          </div>
        </div>
      </div>
      <!-- container -->
    </footer>


    {% if site.has_background_image? %}
      <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
      <script type="text/javascript">
        jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
      </script>
      <![endif]-->
      <style>
        body {
          background: url('{{ site.background_image_url }}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    {% endif %}

    <script src="bootstrap.js"></script>
    <script>
      $(function(){
         $(".navbar-toggle").on("click", function() {
          this.classList.toggle( "active" );
          if($(".navbar-toggle").hasClass('active')){
            $('.navbar-header').css('background-color','#69BFEB');
          }else{
            $('.navbar-header').css('background-color','transparent');
          }
         });
      })

    </script>

  </body>
</html>
