// Bootstrap components
@import "bootstrap";

// NationBuilder components
@import "icons"; // NB-specific icons
@import "framework_countdown2"; // Moneybomb page countdown timer styles
@import "updates"; // Style updates and additions for site components

// NationBuilder extensions
.module {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed;
}


// Fraser Riverkeeper custom fonts, panels, glyphs
.font-tall-big {
	font-family: $font-tall;
	font-size: $font-tall-big;
}

.font-tall-small {
	font-family: $font-tall;
	font-size: $font-tall-small;
}

.font-open-big {
	font-family: $font-open;
	font-size: $font-open-big;
	margin-bottom: 20px;
}

.font-open-big-bold {
	font-family: $font-open;
	font-size: ceil(($font-open-big * 1.8));
	margin-bottom: 0;
	font-weight: 800;
	color: #37677F;
}

.font-open-small {
	font-family: $font-open;
	font-size: $font-open-small;
}

.font-open-small-bold {
	font-family: $font-open;
	font-size: floor(($font-open-big / 1.5));
	margin-bottom: 10px;
	font-weight: 800;
	margin-left: 15px;
	margin-right: 15px;
}

.impact-panel {
	background-color: #FECD05;
	background-image: url(https://d3n8a8pro7vhmx.cloudfront.net/fraserriverkeeper/pages/108/attachments/original/1437935905/Impact_Pattern.png);
	background-blend-mode: luminosity;
	padding-top: floor(($font-tall-big / 1.5));
	padding-bottom: floor(($font-tall-big / 1.5));
}

.impact-recreational {

}

// Fraser Riverkeeper custom footer colors
$lighter-gray:          #a2acb0;

// NationBuilder styles
img {
	max-width: 100%;
}

.padtop {
	padding-top: $line-height-computed * .5;
}

.padbottom {
	padding-bottom: $line-height-computed * .5;
}

.padtopless {
	padding-top: $line-height-computed * .25;
}

.padbottomless {
	padding-bottom: $line-height-computed * .25;
}

.padtopmore {
	padding-top: $line-height-computed * .75;
}

.padbottommore {
	padding-bottom: $line-height-computed * .75;
}

.margintopless {
	margin-top: $line-height-computed * .5;
}

.margintop {
	margin-top: $line-height-computed * .75;
}

.margintopmore {
	margin-top: $line-height-computed;
}

.marginbottomless {
	margin-bottom: $line-height-computed * .5;
}

.marginbottom {
	margin-bottom: $line-height-computed * .75;
}

.marginbottommore {
	margin-bottom: $line-height-computed;
}

.center {
	text-align: center;
}

// Components
.main
{
	&.container
	{
		margin-top: -70px;
	}
}

.main-container, .breadcrumb, .excerpt, .page-tags, .event-block, .event-map, .event-detail, .continue, .page-follow, .like-page {
	@extend .module;
}

.connect-button, .bar-goal {
	@extend .marginbottomless;
}

.byline, #slider-cards, .intro, .flag_form {
	@extend .marginbottommore;
}

.cc, .form-submit {
	@extend .margintopless;
}

.radio-inline, .checkbox-inline {
	@extend .marginbottom;
}

.carousel-inner > .item > img, .carousel-inner > .item > a >img, .header-image-container > img {
	width: 100%;
}

.supporter-carousel > .item > img, .carousel-inner > .item > a >img, .header-image-container > img {
	// width: 100%;
}

.notice {
	@extend .alert-warning;
}

.notice.success {
	@extend .alert-success;
}

.notice.info {
	@extend .alert-info;
}

.notice.error, .notice.danger {
	@extend .alert-danger;
}

.on-button-small, .off-button-small {
	@extend .label;
}

.on-button-small {
	@extend .label-success;
}

.off-button-small {
	@extend .label-danger;
}

footer {
	margin: 40px 0 20px 0;
	width: 100%;
	position: absolute;
	height: 200px;

	.logo-address
	{
		padding-right: 0;

		img
		{
			margin-left: 20px;
		}
	}
}

.footer-left, .footer-right
{
	width: 48%;
}

.footer-left
{
	margin-left: 29px;
}

.site-logo {
	padding: 20px 20px 20px 0;
}

.navbar-brand {
	height: auto;
}

.sidebar {
	& > div, & > div.media, & > ul {
		@extend .module;
	}
	.btn-group-vertical {
		display: block;
	}
}

.sharetable {
	& > div {
		display: inline-block;
		height: 20px;
		vertical-align: middle;
	}
}

.share-container.panel {
	@extend .margintopmore;
	margin-bottom: 0;
}

.share-close {
	margin-top: -.4em;
}

.reaction-wrap {
	.user-session-form-container {
		@extend .module;
	}
	.activities {
		margin: 5px 0;
	}
}

.panel {
	.excerpt-type {
		margin-top: -.2em;
	}
}

.media {
	.media-left {
		img {
			max-width: none;
		}
	}
}

.homepage-excerpt {
	& > div:last-child, & > a:last-child {
		margin-bottom: 0;
	}
}

.page-excerpt {
	&:last-of-type, &:last-child {
		& + hr {
			display: none;
		}
	}
}

.page-excerpts {
	& > li:last-child {
		& > hr:last-child {
			display: none;
		}
	}
}

.progress + .bar-goal {
	text-align: center;
	margin-top: -10px;
}

.page-follow {
	@extend .module;
	float: none;
	margin-top: auto;
}

.pagination-container {
	margin-top: $line-height-computed;
  border-top: 1px solid $hr-border;
}

.addreaction {
	margin-right: 5px;
}

// Forms
.radio-inline, .checkbox-inline {
	cursor: default;
	& > span {
		white-space: nowrap;
		display: inline-block;
	}
	label.radio, label.checkbox {
		cursor: pointer;
		display: inline-block;
		margin: 0 30px 0 0;
	}
}

.form-group  {
	& > select { // Workaround for not being able to attach class names to Liquid generated select boxes
		@extend .form-control;
		&[id*='_card_expires_on'] {
			width: auto;
			display: inline-block;
			margin-right: 5px;
			&:last-child, &:last-of-type {
				margin-right: 0;
			}
		}
	}
	label {
		display: block;
	}
	input + input {
		@extend .margintopless;
	}
}

input.text, .textarea {
	& ~ .submit-button {
		@extend .margintop;
	}
}

.user_session_form {
	#user_session_email {
		margin-bottom: 15px;
	}
	.or-create-account {
		display:block;
		margin-top:5px;
	}
}

// Donation pages
[for='donation_amount_other'],#donation_amount_other {
	margin-left: -20px;
	margin-top: 10px;
}

#donation_amount_other {
	@extend .form-control;
	width: auto;
}

// Invoice pages
.invoices {
	.invoice-total, .amount {
		@extend .text-right;
	}
	.expander-sign {
		cursor: pointer;
	}
	.expander-content {
		display: none;
	}
}

.invoice-total {
	strong {
		font-size: $font-size-small;
		text-transform: uppercase;
	}
}

// Calendar pages
.within {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 15px 0;
}

.event-detail {
	.subtext .profile_image {
		margin-top: 5px;
		margin-right: 5px;
	}
}

.map img {
	max-width: none;
}

h6.subhead {
	margin-bottom: 0;
}

// Press release pages
.released-at {
	@extend .margintop;
}

// Moneybomb pages
#pledge_amount_other {
	@extend .form-control;
	width: auto;
	display: inline-block;
	margin-left: 5px;
}

// Suggestion box pages
#suggestion-page-form-expanded {
	display: none;
}

// Suggestion pages
.how-would-you-tag {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 15px 0;
}

// Profile pages
.profile-name, .people-name {
	display: inline-block;
	vertical-align: middle;
}

.profile-name {
	margin-bottom: 2px;
	margin-right: 3px;
}

// Follows/followers pages
.people-list-follow {
	.delete {
		margin-left: 3px;
		vertical-align: middle;
	}
}

.people-list {
	padding-top: 15px;
	border-top: 1px solid $hr-border;
	.media-body {
		width: 100%;
		padding: .5em .5em .5em 0;
	}
}

// Leaderboard
.leaderboard-rank {
	position: relative;
	display: block;
	float: left;
	margin: -20px 0 0 4px;
}

// Custom Fraser Riverkeeper white links on gray text at bottom of footer
#whiterfooter {
	color: $lighter-gray;
	a
	{
		color: #FFF;
	}
}

@media (min-width: $screen-sm-min) {

	.page-follow {
		float: right;
		margin-top: -32px;
	}

	.reaction-wrap {
		.review-rules {
			text-align: right;
		}
	}

	.people-list-follow {
		float: right;
		text-align: right;
	}

	.user_session_form {
		#user_session_email {
			margin-bottom: 0;
		}
		.or-create-account {
			display:inline;
		}
	}

}

// Footer bar: Facebook, Instagram, Twitter, Donate buttons
.social-media
{
	background-color: #37677F;
	background-image: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/539f572101925b03c1000001/attachments/original/1403727811/waves.png');
	padding-top: 5px;

	img
	{
		float: right;
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}

	span
	{
		&.donate-button
		{
			background-color: #FECD05;
			color: #333333;
			float: right;
			text-transform: uppercase;
			margin-top: -5px;
		  padding-top: 10px;
		  padding-bottom: 10px;
		  padding-left: 15px;
		  padding-right: 15px;
		  text-shadow: 2px 2px 9px rgba(150, 150, 150, 0.4);

		}
		&.donate-button:hover
		{
			background-color: #EEEEEE;
			color: #000000;
			text-shadow: 2px 2px 9px rgba(150, 150, 150, 0.8);
		}
	}
}

.footer-container
{
	background-color: #2b424a;
	height: 300px;
	color: white;
	padding: 30px;

	img
	{
		max-width: 250px;
	}

	ul
	{
		list-style: none;
		padding-left: 0;

		a
		{
			color: #a2acb0;
			font-size: 13px;
			text-decoration: none;
		}
	}

	.footer-item-header
	{
		font-family: $font-tall;
		font-size: 32px;
	}

	.login-panel
	{
			margin-top: 30px;
	}

	div
	{
		&.col_one
		{
			font-family: $font-tall;
			font-size: 32px;

			a
			{
				color: white;
				text-decoration: none;
			}
		}

		&.address
		{
			text-align: right;
		}
	}
}

.sign-up-container
{
	background-color: #69c0ec;
	padding: 20px;

	form
	{
		input
		{
		  font-family: 'Open Sans', 'Helvetica Neue';

			.keep-in-touch-btn{
				margin-top: -4px;
				padding: 11px;
				margin-left: -2px;
			}
		}

		a
		{
			font-family: 'Open Sans', 'Helvetica Neue';
		}
	}
}

.twitter-feed-container
{
	margin-left: 20px;
	margin-top: 20px;
}

@media (max-width: 767px) {
	.main
	{
		&.container
		{
			margin-top: 0;
		}
	}

	.content-pages-show-basic-wide
	{
		text-align: center;
	}

	.img-circle
	{
		min-width: 184px;
		padding: 25px;
	}

  .footer-items
  {
    text-align: center;
  }

	.footer-container
	{
		img
		{
			max-width: 215px;
		}

		div
		{
			.address
			{
				padding-top: 30px;
				text-align: center;
			}
		}
	}

	footer
	{
		.logo-address
		{
			text-align: center;

			img
			{
				margin-left: 0;
			}
		}
	}

	.footer-left, .footer-right
	{
		width: 100%;
	}

	.footer-left
	{
		margin-left: 0;
	}
}
